@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@font-face {
    font-family: fontcustom;
    src: url(./font/UTM_HELVETINS.TTF);
}
:root{
    --font-main: fontcustom;
}

.container {
    display: none;
}

.main-screen {
    position: relative;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: 100;
}
.bg-clor{
    position: absolute;
    width: 100%;
    height: auto;
}
.characters-block-header>p {
    text-align: center;
    color: #ededed;
    line-height: 24px;
    font-family: fontcustom;
}
.characters-list {
    display: none;
    position: absolute;
    overflow: visible !important;
    border-radius: .8vh;
    left: 35%;
    top: 239px;
}

.character-list-header {
    text-transform: uppercase;
    position: relative;
    top: -10vh;
    width: 100%;
    height: 10%;
    left: -35%;
}

.character-list-header>p {
    text-align: center;
    font-size: 2vh;
    margin-top: 3.1vh;
    font-family: fontcustom;
    letter-spacing: .1vh;
    font-weight: 900;
    color: #ededed;
}

.character {
    left: 16px;
    background-image:  repeating-linear-gradient(to right, #f99533, #deac8a);
    position: relative;
    width: 546px;
    height: 136px;
    margin-top: 22px;
    font-family: fontcustom;
    border-bottom: 4px solid #74aa3200;
    transition: .1s linear;
    border-radius: 25px;
    cursor: pointer;
    z-index: 2;
}

.character>span {
    color: #ededed;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1vh;
    font-family: fontcustom;
}

#cid {
    color: #ededed;
    position: relative;
    float: right;
    font-size: 1.5vh;
    right: 35px;
    line-height: 80px;
}

/* .char-selected {
    background-color: #ffffff;
} */

.disabled {
    background-color: rgba(0, 0, 0, 0.691);
}
#slot-name {
    top: 25px;
    position: relative;
    color: #ededed;
    font-size: 30px;
    line-height: 80px;
    left: 20px;
    font-family: fontcustom;
}
.character-btn {
    position: relative;
    width: 221px;
    height: 75px;
    top: 400px;
    transition: 0.2s;
    margin-top: -30px;
    left: 178px;
    cursor: pointer;
    z-index: 5;
}

.character-btn>p {
    color: #ededed;
    letter-spacing: .1vh;
    text-align: center;
    font-family: fontcustom;
    font-size: 2vh;
    text-transform: uppercase;
    line-height: 5vh;
    font-weight: bold;
}

#play {
    display: none;
    background-image:  repeating-linear-gradient(to right, #f99533, #deac8a);
    border-radius: 28px;
    transition: all 2s ease;
}
#play-text{
    margin-top: 10px;
}
#delete {
    display: none;
    background-color: #dc143c;
    border-radius: .3vh;
    transition: all 0.2s ease;
}

#delete:hover {
    background-color: #eb3434;
}

.character-info {
    display: none;
    position: absolute;
    width: 20%;
    height: 40%;
    right: 14%;
    top: -40%;
    border-radius: .8vh;
    padding: 30px;
    background-color: rgb(23 23 23 / 80%);
    overflow: visible !important;
}

#char-info-icon {
    position: relative;
    font-size: 1.5vh;
    color: #ededed;
    right: 20px;
    overflow: visible !important;
}

#char-info-titel {
    text-transform: uppercase;
    position: absolute;
    font-size: 2vh;
    color: #ededed;
    left: -5vh;
    letter-spacing: .1vh;
    font-weight: 900;
    overflow: visible !important;
}

#no-char {
    display: none;
    position: absolute;
    color: #ededed;
    font-size: 16px;
    top: 30%;
    text-align: center;
}

.char-info-titel {
    position: relative;
    left: 28%;
    top: 3%;
    overflow: visible !important;
}
#list-info{
    width: 490px;
    height: 407px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 1;
}
.character-info-valid {
    left: 44px;
    /* top: -1000px; */
    position: absolute;
    overflow: hidden;
    background-color: white;
}

.character-info-box {
    position: relative;
    color: #000000;
    font-size: 1.5vh;
    width: 100%;
    height: 2.9vh;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 12px;
    left: 50px;
}

.char-info-js {
    font-family: fontcustom;
    position: absolute;
    left: 50%;
}

#info-label {
    margin-left: 10px;
}

.character-delete {
    display: none;
    position: absolute;
    width: 33vh;
    height: 12vh;
    top: 67vh;
    left: 86.5vh;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(23 23 23 / 80%);
    border-radius: .8vh;
    padding: 30px;
    font-family: fontcustom;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #ededed;
    font-family: fontcustom;
    overflow: visible !important;
}

.characters-delete-block-header {
    position: absolute;
    width: 100%;
    height: 11%;
    color: #ededed;
    text-align: left;
    font-size: 2vh;
    line-height: 29px;
    font-family: fontcustom;
    font-weight: 900;
    text-transform: uppercase;
    overflow: visible !important;
}

.characters-delete-block-header>p {
    font-family: fontcustom;
    overflow: visible !important;
}

.character-delete>p {
    padding-top: 50px;
    font-size: 1.3vh;
    overflow: visible !important;
}

#yeet {
    overflow: visible !important;
}

.character-acceptdel-btn {
    position: absolute;
    width: 43%;
    height: 19%;
    bottom: 0;
    left: 5%;
    margin-bottom: 20px;
    background-color: #28a745;
    border-radius: 4px;
    transition: 0.2s;
    overflow: visible !important;
    cursor: pointer;
}

.character-canceldel-btn {
    position: absolute;
    width: 43%;
    height: 19%;
    bottom: 0;
    right: 5%;
    margin-bottom: 20px;
    background-color: #dc143c;
    border-radius: 4px;
    transition: 0.2s;
    overflow: visible !important;
    cursor: pointer;
}

.character-acceptdel-btn>p {
    color: #ededed;
    text-align: center;
    padding-top: 1vh;
    font-family: fontcustom;
    overflow: visible !important;
    font-weight: 900;
    text-transform: uppercase;
}

.character-canceldel-btn>p {
    color: #ededed;
    text-align: center;
    padding-top: 1vh;
    font-family: fontcustom;
    overflow: visible !important;
    font-weight: 900;
    text-transform: uppercase;
}

.character-register {
    height: auto;
    display: none;
    position: absolute;
    overflow: visible !important;
    border-radius: .8vh;
    left: 35%;
    top: 239px;
}

i#close-reg {
    position: relative;
    top: -2vh;
    cursor: pointer;
}

.material-icons-one {
    margin-left: 39.5vh;
    color: #ededed;
    background-color: #dc143c;
    font-size: 1.3vh;
    font-weight: 900;
    border-radius: .3vh;
    padding: .3vh;
}

.characters-register-block-header {
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 12vh;
    color: #ededed;
    text-align: left;
    font-size: 2vh;
    font-weight: 900;
}
.char-register-input{
    left: 44px;
    top: -1000px;
    position: relative;
    overflow: hidden;
    
}
#char-register-inputs {
    position: absolute;
    left: 44px;
    top: -1px;
    overflow: visible !important;
    background-color: white;
    width: 490px;
    height: 495px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 1;
}


.char-reg-input {
    margin-left: 66px;
    width: 350px;
    height: 60px;
    position: relative;
    float: left;
    margin-top: 1vh;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #000000;
    max-width: 100%;
    font-weight: 900;
    padding: 4px;
    border-radius: 25px;
      font-family: fontcustom;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: text;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.mgr{
    margin-top: 50px;
}
select {
    position: absolute;
    border: none;
    background-color: #ffffff;
    outline: none;
    width: 350px;
    height: 60px;
    top: 30vh;
    left: 70px;
    color: #000000;
    max-width: 100%;
    padding: 4px;
    border-radius: 25px;
      font-family: fontcustom;
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

select:focus {
    background-color: rgba(255, 255, 255, 0.808);
}

#gender option {
    background-color: transparent;
    border: none;
    outline: none;
}

select::placeholder {
    text-align: center;
}

select::-ms-expand {
    display: none;
}

.char-reg-input::placeholder {
    color: rgb(0, 0, 0);
}

input[type="date"] {
    color: #000000;
    text-align: center;
}

input[type=date]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

#birthdate {
    color: #000000;
    text-align: center;
      font-family: fontcustom;
}
.character-reg-btn {
    position: relative;
    width: 221px;
    height: 75px;
    bottom: -450px;
    transition: 0.2s;
    left: 186px;
    cursor: pointer;
    z-index: 5;
}

.character-reg-btn>p {
    margin-top: 10px;
    color: #ededed;
    letter-spacing: .1vh;
    text-align: center;
    font-family: fontcustom;
    font-size: 2vh;
    text-transform: uppercase;
    line-height: 5vh;
    font-weight: bold;
}

#create {
    background-image:  repeating-linear-gradient(to right, #f99533, #deac8a);
    border-radius: 28px;
    transition: all 0.2s ease;
}


.loading-rondje {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    width: 150px;
    height: 150px;
    transform: translateY(-50%);
    text-align: center;
    padding: 1vh;
}

.loading-rondje > p {
    color: white;
    margin-top: 1vh;
      font-family: fontcustom;
    text-shadow: 1px 1px 0px #00000085;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 1600px) {
    .character {
        top: -50px;
        height: 81px;
    }
    #slot-name {
        overflow: visible;
        top: 0px;
    }
    .character-btn {
        top: 355px;
        width: 200px;
        height: 75px;
        bottom: 3vh;
        left: 35%;
        right: 40%;
    }
    .character-info-box {
        color: #000000;
        font-size: 2vh;
        width: 120%;
        height: 4.9vh;
        font-weight: 1000;
        text-transform: uppercase;
        left: 20px;
        /* margin-bottom: 12px; */
    }
    #list-info{
        width: 500px;
        height: 457px;
    }
    .character-info-valid {
        top: 15px;
        left: 38px;
    }
    #play-text{
        margin-top: 15px;
    }
    #info-label {
        margin-left: 0px;
    }
}
@media screen and (max-width: 1440px) {
    .bg-clor{
        width: 135%;
    }
    .character {
        top: -50px;
        height: 81px;
        left: 220px;
    }
    #slot-name {
        overflow: visible;
        top: 0px;
    }
    .character-btn {
        top: 355px;
        width: 200px;
        height: 75px;
        bottom: 3vh;
        left: 390px;
        right: 0;
    }
    .character-info-box {
        color: #000000;
        font-size: 2vh;
        width: 120%;
        height: 4.9vh;
        font-weight: 1000;
        text-transform: uppercase;
        /* margin-bottom: 12px; */
    }
    #list-info{
        width: 500px;
        height: 457px;
    }
    .character-info-valid {
        top: 15px;
        left: 248px;
    }
    #play-text{
        margin-top: 15px;
    }
    #info-label {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1360px) {
    .character {
        left: 220px;
        width: 400px;
        height: 81px;
    }
    #slot-name {
        overflow: visible;
        top: 0px;
        left: 30%;
    }
    #list-info{
        width: 372px;
        height: 407px;
    }
    .character-info-box {
        color: #000000;
        font-size: 2.5vh;
        width: 110%;
        height: 3.9vh;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 12px;
        left: 20px;
    }
    .character-info-valid {
        margin-top: -30px;
        left: 235px;
    }
    .character-btn {
        top: 275px;
        bottom: 1vh;
        left: 320px;
    }
    #play-text{
        font-size: 3vh;
        height: 3.9vh;
        font-weight: 500;
        margin-top: 20px;
    }
}

@media screen and (max-width: 1280px) {
    .bg-clor{
        width: 150%;
    }
    .character {
        top: -15px;
        left: 25px;
        width: 300px;
        height: 81px;
    }
    .characters-list{
        z-index: 99;
    }
    #slot-name {
        overflow: visible;
        top: 0px;
        left: 30%;
    }
    .character-btn {
        top: 290px;
        width: 100px;
        height: 50px;
        bottom: 1vh;
        left: 120px;
        right: 0;
    }
    .character-btn>p {
        letter-spacing: 0vh;
        font-size: 0vh;
        font-weight: 100;
        line-height: 1vh;
    }
    .character-info-box {
        color: #000000;
        font-size: 1.5vh;
        width: 110%;
        height: 3.9vh;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 12px;
        left: 20px;
    }
    #list-info{
        width: 244px;
        height: 307px;
    }
    .character-info-valid {
        margin-top: 73px;
        left: 50px;
    }
    #play-text{
        font-size: small;
        margin-top: 20px;
    }
    .mgr{
        margin-top: 10px;
    }
    
}

@media screen and (max-width: 1152px) {
    .bg-clor{
        width: 135%;
    }
    .character {
        left: 200px;
        width: 356px;
        height: 81px;
    }
    #slot-name {
        overflow: visible;
        top: 0px;
        left: 30%;
    }
    .character-btn {
        top: 325px;
        width: 200px;
        height: 70px;
        bottom: 3vh;
        left: 275px;
        right: 0;
    }
    .character-info-box {
        color: #000000;
        font-size: 2vh;
        width: 110%;
        height: 3.5vh;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 12px;
        left: 10px;
    }
    .character-btn>p {
        letter-spacing: 0;
        text-transform: none;
        line-height: normal;
        font-weight: bold;
    }
    #list-info{
        width: 309px;
        height: 357px;
    }
    .character-info-valid {
        left: 223px;
    }
    #play-text{
        top: 20px;
        font-size: 2vh;
    }
    .mgr{
        margin-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .bg-clor{
        width: 150%;
    }
    .character {
        left: 238px;
        width: 317px;
        height: 81px;
    }
    #slot-name {
        overflow: visible;
        top: 0px;
        left: 30%;
    }
    .character-btn {
        top: 340px;
        width: 100px;
        height: 50px;
        bottom: 3vh;
        left: 350px;
        right: 0;
    }
    .character-info-box {
        color: #000000;
        font-size: 2.5vh;
        width: 110%;
        height: 3.9vh;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 12px;
        left: 10px;
    }
    #list-info{
        width: 281px;
        height: 357px;
    }
    .character-info-valid {
        left: 256px;
    }
    #play-text{
        margin-top: 15px;
    }
    .mgr{
        margin-top: 23px;
    }
}
@media screen and (max-width: 800px) {
    .bg-clor{
        width: 150%;
    }
    .character {
        top: -50px;
        left: 182px;
        width: 255px;
        height: 81px;
    }
    #slot-name {
        overflow: visible;
        top: 0px;
        left: 30%;
    }
    .character-btn {
        top: 230px;
        width: 100px;
        height: 50px;
        bottom: 3vh;
        left: 265px;
        right: 0;
    }
    .character-info-box {
        color: #000000;
        font-size: 2.5vh;
        width: 110%;
        height: 3.9vh;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 12px;
        left: 18px;
    }
    #list-info{
        top: -50px;
        width: 255px;
        height: 307px;
    }
    .character-info-valid {
        left: 182px;
    }
    #play-text{
        margin-top: 15px;
    }
    .mgr{
        margin-top: 43px;
    }
    
}